@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kategori Güncelleme</h2>

@using (Html.BeginForm("Guncelle","Kategori",FormMethod.Post))
            {

<div class="form-group">
    <label style="margin-top:20px;">Kategori ID</label>
    @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control", @readonly = true })
    <label style="margin-top:20px;">Kategori AD</label>
    @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control", @required = "required" })
</div>
                <div style="margin-top:20px;">
                    <button class="btn btn-warning">GÜNCELLE</button>
                </div>
            }